@EntryPoint("Compute") @Exported @WorkgroupSize(SUBGROUP_SIZE, 1, 1) fn main(i32 a, ptr global i32 b) {
    val rb = bitcast[ptr global u64](b);
    debug_printf("hi %d 0x%lx\n", a, *rb);
    return ();
}
