@Exported
fn rec_pow_chain_helper i32(varying i32 x, varying i32 y) {
    return (rec_pow_chain(x, y));
}

@Exported
fn rec_pow_chain i32(varying i32 x, varying i32 y) {
    if (y > 1) {
        return (x * rec_pow_chain_helper(x, y - 1));
    }
    return (1);
}
