// example of the restructurer with a 'naked' loop (no `control` operator involved)
// such loops are only allowed if there is only one path through them that involves a back-edge
// in other words: no implicit synchronisation at the loop header

@Exported
fn f i32(varying bool b) {
    jump bb1();

    cont bb1() {
        branch (b, bb1(), bb2());
    }

    cont bb2 () {
        return (7);
    }
}

// the behaviour should be equivalent to this structured code:
@Exported
fn g i32(varying bool b) {
    loop() {
        if (b) {
            continue ();
        }
        return (7);
    }
    unreachable ();
}
