@Exported
fn f varying i32(varying i32 x) {
  var i32 i = 0;
  branch ((x > 0), t(), j());

  cont t() {
      i = x;
      jump j();
  }

  cont j() {
      i = 1;
      return (i);
  }
}

@Exported
fn g varying i32(varying i32 x) {
  var i32 i = 0;
  branch ((x > 0), t(), j());

  cont t() {
      i = x;
      jump j();
  }

  cont j() {
      return (i);
  }
}
