@Exported @Restructure
fn f i32(varying bool b) {
    jump A();

    cont A() {
        branch(b, B(), C());
    }

    cont B() {
        branch(b, D(2), E(2));
    }

    cont C() {
        branch(b, D(3), E(3));
    }

    cont D(varying i32 x) {
        jump F(x * 5);
    }

    cont E(varying i32 x) {
        jump F(x * 7);
    }

    cont F(varying i32 x) {
        return (x);
    }
}
