@Exported @Restructure
fn f1 i32(varying bool b, varying i32 i) {
    jump bb1();

    cont bb1() {
        branch(b, bb2(i), bb3(6, 6));
    }

    cont bb2(varying i32 j) {
        jump bb4(j);
    }

    cont bb3(uniform i32 x, uniform i32 y) {
        jump bb4(x + y);
    }

    cont bb4(varying i32 l) {
        return (l + i);
    }
}