@Exported @Restructure
fn f i32(varying bool b, varying i32 i) {
    jump A();

    cont A() {
        branch (b, B(), H());
    }

    cont B() {
        switch(i, case 1, C(), case 2, G(), default E());
    }

    cont C() {
        switch(i, case 4, B(), case 5, D(), default F());
    }

    cont D() {
        branch (b, E(), A());
    }

    cont E() {
        return (i);
    }

    cont F() {
        jump D();
    }

    cont G() {
        return (1);
    }

    cont H() {
        return (0);
    }
}
