@Exported
fn fac varying i32(varying i32 count) {
  val x = loop i32 (varying i32 i = 1, varying i32 a = 1) {
    val r = lt(i, count); // if i < count
    if (r) {
      val i2 = add(i, 1);
      val a2 = mul(i, a);
      continue(i2, a2);
    } else {
      break(a);
    }
    unreachable ();
  }
  return(x);
}
