// trivial function that does nothing
@EntryPoint("Compute") @WorkgroupSize(64, 1, 1)
fn main() {
    val nine = control i32(jp) {
        val n = 4 + 5;
        join(jp)(n);
    }
    debug_printf("Nine: %d", nine);
    return ();
}
