// shady example code

fn ident i32(varying i32 i) {
    let j = add(i, 1);
    let v = add(5, 9);
    return (j);
}

fn pair i32, i32(varying i32 i) {
    return(i, i);
}

fn negate bool (varying bool b) {
    if (b) {
        return(false);
    } else {
        return(true);
    }
    unreachable;
}

fn negate2 bool (varying bool b) {
    if (b) {
        return(false);
    }
    return(true);
}

fn @compute main() {
    return ();
}

const i32 sixtynine = 69;

input   i32 x;
output  i32 y;
shared  i32 z;
private i32 w;
extern  i32 a;
// global  i32 a;