// shady example code

fn ident int(varying int i) {
    let j = add i 1;
    let v = add 5 9;
    return j;
}

fn pair int, int(varying int i) {
    return i i;
}

fn not bool (varying bool b) {
    if b {
        return false;
    } else {
        return true;
    }
    unreachable;
}

fn not2 bool (varying bool b) {
    if b {
        return false;
    }

    return true;
}

fn @compute main() {
    return;
}

const int sixtynine = 69;

input   int x;
output  int y;
shared  int z;
private int w;
extern  int a;
// global  int a;