@Internal @Builtin("SubgroupLocalInvocationId")
var input u32 subgroup_local_id;

@EntryPoint("Compute") @WorkgroupSize(32, 1, 1) fn main() {
    val tid = subgroup_local_id;
    val x = tid / u32 4;
    debug_printf("tid = %d x = %d\n", tid, x);

    if (subgroup_broadcast_first(x) == x) {
        debug_printf("not-loop: electing x = %d, mask = %lx\n", x, subgroup_active_mask());
    }

    loop() {
        if (subgroup_broadcast_first(x) == x) {
            debug_printf("loop: electing x = %d, mask = %lx\n", x, subgroup_active_mask());
            break();
        }
    }
    debug_printf("Done SP=%d.\n", get_stack_pointer());
    return ();
}
